
                            <div class="row">
                                <div class="col-md-6">
                                        <p>{{adherent.prenom}}</p>
                                    </div>
                            <div class="col-md-6">
                                <label>:  الاسم </label>
                            </div>
                            


                        </div>
                        <div class="row">


                                <div class="col-md-6">
                                        <p>{{adherent.nom}}</p>
                                    </div>
        
                            <div class="col-md-6">
                                <label>:  اللقب</label>
                            </div>
                            



                        </div>

                        <div class="row">


                                <div class="col-md-6">
                                        <p>{{adherent.email}}</p>
                                    </div>
                            <div class="col-md-6">
                                <label>: البريد الالكتروني</label>
                            </div>
                           


                        </div>
                        <div class="row">

                                <div class="col-md-6">
                                        <p>{{adherent.numtel}}</p>
                                    </div>
        
                            <div class="col-md-6">
                                <label>:  رقم الهاتف </label>
                            </div>
                           

                        </div>
                        <div class="row">


                                <div class="col-md-6">
                                        <p>{{adherent.profession}}</p>
                                    </div>
        
                            <div class="col-md-6">
                                <label>:  المهنة</label>
                            </div>
                           
                        </div>
  