<div class="row login">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-header-text">تسجيل الدخول</h3>
            </div>

            <div class="card-body">
                <form [formGroup]="LoginForm">
                    <mat-form-field class="field-full-width">
                        <input matInput placeholder="البريد الالكتروني"  formControlName="email" #email>
                    </mat-form-field>
                    <mat-form-field class="field-full-width">
                        <input matInput placeholder="كلمة السر" formControlName="password" #password>
                    </mat-form-field>
                </form>
                
                <button type="button" class="btn btn-secondary mt-3 btnLogin" (click)="loginAdherent(email.value,password.value)">تسجيل الدخول</button><br>
                <button type="button"  routerLink="/signup" class="btn btn-secondary  mt-3  btnSignup">انشاء حساب جديد</button>
                <a href="#" class="forgetPass ">نسيت كلمة السر </a>
           
            </div>

        </div>



    </div>

</div>