<div class="tab-content profile-tab" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form [formGroup]="changePasswordForm">

            <div class="row">
                <div class="col-md-8 mx-auto">
                    <mat-form-field class="field-full-width">
                        <input matInput placeholder="كلمة السر القديمة" formControlName="oldPass" #oldPass>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">


                <div class="col-md-8 mx-auto">
                    <mat-form-field class="field-full-width">
                        <input matInput placeholder="كلمة السر الجديدة" formControlName="newPassword" #newPassword>
                        <mat-error>الرجاء ادخال كلمة سر قوية</mat-error>

                        <div class="recomend">
                                <mat-hint>password contains A characters </mat-hint> <br>
                                <mat-hint>password contains a characters </mat-hint><br>
                                <mat-hint>password length must be more than 8characters </mat-hint>

                            
                       </div>
                    </mat-form-field>
                </div>




            </div>

            <div class="row">


                <div class="col-md-8 mx-auto">
                    <mat-form-field class="field-full-width">
                        <input matInput placeholder=" كلمة السر الجديدة" formControlName="newPassword2" #newPassword2>
                   
                   
                   
                    </mat-form-field>
                
                </div>




            </div>


            <div class="row">
                <div class="col-md-8 mx-auto">
                    <button class="btn btn-primary editButton "
                        (click)="changePassword(oldPass.value,newPassword.value,newPassword2.value)">تعديل</button>
                        <mat-error>{{errorMessage}}</mat-error> 
                </div>



            </div>
        </form>
        <br>
        <br>
    </div>
</div>