<div class="container ">

<div class="row p-6">
    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <h1 class="display-1 d-flex">  المفضلات </h1>
        <mat-divider></mat-divider>

    </div>
</div>
<div class="row p-6 ">

<div class="col-md-3 mx-auto" *ngFor="let citation of citations">
        <mat-card class = "tp-card">
                <mat-card-header>
                   <div mat-card-avatar class = "tp-header-image"></div>
                   <mat-card-title>{{citation.title}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src ={{citation.image}} alt = "Learn HTML5">
                <mat-card-content>
                   <p>
                      {{citation.text}}
                   </p>
                </mat-card-content>
                <mat-card-actions>
                   <button mat-button>أعجبتني</button>
                   <button mat-button>نشر</button>
                </mat-card-actions>
             </mat-card>
             

</div>







</div>


</div>